<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>VINSUP BUS</title>
	<link rel="stylesheet" href="style.css">
</head>

<body style="Background-color:orange">
	  <div style="margin: 100px;background-color: white;text-align: center;">
		<form>
		<label>user name</label>
		<input type="text"><br><br>
		
		<label>password</label>
		<input type="text"><br><br>
		
		<button type="submit">login</button>
		</form>
	  <div>

</body>

</html>