<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body style=" background-image: url(bus.jpg);
              background-repeat: no-repeat;
              background-size: 1700px 1000px;">
    <div >
    <form class="login" method="post" action="msg">
        <h1 style="text-align: center;"><b>login</b></h1>
        <div>
        <label for=""><b>username</b></label>
        <input type="text" placeholder="joseph" id="un" name="name">
        </div>
      
        <div>
        <label for="" ><b>email</b></label>
        <input type="email" placeholder="abc@gmail.com" id="em">
        </div>
        
        <div>
        <label for=""><b>password</b></label>
        <input type="password" placeholder="^..^" id="pw">
        </div>
        <br>
        <div>
           <button id="btn">login</button> 
        </div>
    </form>
  </div>
    <script src="function.js"></script>
</body>
</html>