<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
</head>
<body>
	<form action="yourData" method="get">
		
		<label>enter your name   :</label>
		<input type="text" name="uname"><br><br>
		
		<label>enter your age    :</label>
		<input type="text" name="uage"><br><br>
		
		<label>enter your city   :</label>
		<input type="text" name="ucity"><br><br>
		
		<label>enter your college:</label>
		<input type="text" name="uclg"><br><br>
		
		
		<button type="submit">enter</button>
		
	</form>
</body>
</html>
