<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Resume</title>
</head>

<body>
	<div style="background-color: orangered; font-size: 100%; color: black; padding: 30%; text-align: center;">
		<h1>Hai <span th:text="${uname}"></span></h1>
		<h1>Your are <span th:text="${uage}"></span></h1>
		<h1>You are Living in <span th:text="${ucity}"></span></h1>
		<h1>You are Studying in <span th:text="${uclg}"></span></h1>
		
	</div>
</body>

</html>